@font-face {
    font-family: clock;
    src: url(Orbitron-VariableFont_wght.ttf);
}
body{
    background: linear-gradient(to right, #9BBEC8, #427D9D);
    /* background-image: url(pexels-joão-jesus-925743.jpg); */
    font-family: Arial, Helvetica, sans-serif;
}

#dayLeft, #dayPassed, #timeLeft{
    font-family: clock;
}

.ubody, .header, .lbody{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.days, .header{
    font-size: 3.2vh;
    margin-top: 3%;
}
.text{
    font-size: larger;
}
.lbody{
    padding-top: 10%;
}
@media (max-width: 600px) {
    .days, .header{
        font-size: 2.3vh;
        margin-top: 3%;
    }

    .time, h4{
        font-size: 1.5vh;
    }
    .lbody{
        padding-top: 35%;
    }
    .days{
        font-size: 4vh;
    }
}
    